.splitter {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.splitterDirectionHorizontal {
    flex-direction: row;
}

.splitterDirectionVertical {
    flex-direction: column;
}